.Main-Section{
    
     min-height: 80vh;
     
     background-image: url('clement-helardot-md.jpg') ;
     background-repeat:no-repeat; 
     background-size: 100% 80%;  

     background-position: top center; 

}
.Container-Home{ 
     min-height: 60vh;
     padding: 30px;
     background-color :rgba(20, 20, 20, 0.4); 
    /*box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);*/
   
     
}